* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F6C9;
    color: whitesmoke;
    font-family: 'Comic Neue', cursive;
    color: #eaeaea;
    font-size: 24px;
}

.dark {
    background-color: #153462;
    color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* background-color: #F6F6C9; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   /* width: 500px;
    height: 500px;
    background-color: blueviolet;
    border: 2px solid royalblue;
    /* margin-right: 200px; */
}

.image {
    width: 500px;
    height: 90px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 400px;
    height: 400px;
    background-color: red;
    border: 3px solid black;*/
}

.button>a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Comic Neue', cursive;
    color: #eaeaea;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    background-color: #4FA095;
    border: 3px solid rgb(255, 121, 121);
    border-radius: 7px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 3px 200px 3px 200px;
}

.button>a:hover {
    background-color: #368277;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home>a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    color: #eaeaea;
    background-color: rgb(178, 106, 246);
    border: 2px solid rgb(255, 121, 121);
    border-radius: 7px;
    padding: 3px 30px 3px 30px;
    margin-top: 5px;
}

.home>a:hover {
    background-color: rgb(155, 58, 246);
}

nav {
    position: fixed;
    bottom: 0;
    background-color: #595959;
    width: 100%;
    padding: 15px;
}

nav a {
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
}

nav a:hover {
    background-color: #4FA095;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}